<%= form_for(pet, url: url_for_pet_form(pet)) do |f| %>

<% if pet.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(pet.errors.count, "error") %> prohibited your registration attempt:</h2>
 
    <ul>
    <% pet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.hidden_field :owner_id, value: current_user.id %>
  
  <div class="field <%= "field_with_errors" if pet.errors[:category].any? %>">
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
  </div>

  <%= f.label :species %> <br>
  <%= f.select :species, ["Dog", "Cat"], selected: pet.species %> <br>
  <%= f.label :sex %> <br>
  <%= f.select :sex, ['Female', 'Male'], selected: pet.sex %> <br>
  <%= f.label :birth_date %> <br>
  <%= f.date_select :birth_date, {start_year: Date.today.year - 20, end_year: Date.today.year} %> <br>
  <%= f.submit "Register Pet" %>
<% end %>