<% if pet.owner == current_user %>
  <p><%= link_to "Edit #{pet.name}'s information", edit_user_pet_path(pet.owner, pet) %></p>
  <p><%= link_to "Remove #{pet.name} from my pets", "/users/#{pet.owner.id}/pets/#{pet.id}", method: :delete %></p>
<% end %>
<ul></ul>
  <li>Type: <%= pet.sex %> <%= pet.species %></li>
  <li>Owner: <%= link_to pet.owner.name, user_path(pet.owner) %></li>
  <li>Age: <%= pet.age %></li>
  <li> <%= "Veterinarian".pluralize(pet.veterinarians.count) %>:
    <ul>
      <% pet.veterinarians.each do |vet| %>
        <li><%= link_to vet.name, user_path(vet) %></li>
      <% end %>
    </ul>
  </li>
</ul>