<% if @search_ok %>
  <h2>Find a Pet:</h2>
  <%= form_tag "/pets/search" do %> <br>
    <%= label_tag "pet[name]", "Pet's Name:" %> <br>
    <%= text_field_tag "pet[name]" %> <br><br>
    <%= label_tag "pet[species]", "Species:" %>
    <%= select_tag "pet[species]", options_for_select(["Dog", "Cat"]) %> <br><br>
    <%= label_tag "pet[owner_first_name]", "Owner's First Name:" %> <br>
    <%= text_field_tag "pet[owner_first_name]" %> <br>
    <%= label_tag "pet[owner_last_name]", "Owner's Last Name:" %> <br>
    <%= text_field_tag "pet[owner_last_name]" %> <br>
    <%= submit_tag "Find Pet" %>
  <% end %>
<% end %>
<% if @user %>
  <h2> <%= @user.name %>'s <%= (@user.vet? ? "Patient" : "Pet").pluralize(@user.pets.count) %>:</h2>
<% end %>
<%= render(@pets) %>
