<h2> <%= user.name %> </h2> <br>
<div>
  <h3>Contact: </h3><br>
  <ul>
    <li><%= user.email %></li>
  </ul>
</div>

<p id="js-petsLink-<%= user.id %>"><strong><%= user_pets_link(user) %></strong></p>

<div id="js-pets-<%= user.id %>"></div>