<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
  First Name: <br>
  <%= f.text_field :first_name %> <br>
  Last Name:  <br>
  <%= f.text_field :last_name %> <br>
  E-mail:     <br>
  <%= f.text_field :email %> <br>
  Password:   <br> 
  <%= f.password_field :password %> <br>
  Confirm Password: <br>
  <%= f.password_field :password_confirmation %> <br>
  Check if you are a veterinarian: <%= f.check_box :vet? %> <br>
  <%= f.submit "Sign Up" %>
<% end %>