<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited your signup attempt:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, url: users_path) do |f| %>
  First Name: <br>
  <%= f.text_field :first_name %> <br>
  Last Name:  <br>
  <%= f.text_field :last_name %> <br>
  E-mail:     <br>
  <%= f.text_field :email %> <br>
  Password:   <br> 
  <%= f.password_field :password %> <br>
  Confirm Password: <br>
  <%= f.password_field :password_confirmation %> <br>
  Check if you are a veterinarian: <%= f.check_box :vet?, {}, true, false %> <br>
  <%= f.submit "Sign Up" %>
<% end %>