<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited your signup attempt:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag(users_path) do %>
  First Name: <br>
  <%= text_field_tag 'user[first_name]' %> <br>
  Last Name:  <br>  <%= text_field_tag 'user[last_name]' %> <br>
  E-mail:     <br>  <%= text_field_tag 'user[email]' %> <br>
  Password:   <br>   <%= password_field_tag 'user[password]' %> <br>
  Confirm Password: <br>  <%= password_field_tag 'user[password_confirmation]' %> <br>
  Check if you are a veterinarian: <%= check_box_tag 'vet', true %> <br>
  <%= submit_tag "Sign Up" %>
<% end %>